
.warehouse-detail-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  min-height: 100vh;

  padding-top: 3vw;
  padding-left: 3vw;


  .warehouse-detail-left {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 60%;

    .warehouse-detail-header {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      font-size: 3vw;
      align-items: center;
      align-self: flex-start;

      .warehouse-detail-header-name {
        font-size: 3vw;
      }

      .warehouse-detail-header-type {
        font-size: 2vw;
      }
    }

  }

  .warehouse-detail-right {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 40%;
  }


}



