.inventory-popup-container .ant-modal .ant-modal-content {
  width: 100vw;
}

.generalized-detail-footer-btns {
  button {
    font-size: 1vw;
    width: 9vw;
    height: 2.2vw;
  }
}

.ant-select-selection-item{
  font-size: 0.9vw;
}

.ant-select-item-option-content{
  font-size: 0.9vw;
}
