.warehouses-container{
  width: 85vw;
  height: 100%;
}
.owner-account-form{
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}
.titles{
  width: 20vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}
.inputs{
  width: 20.772vw;
  display: flex;
  flex-direction: column;
}
.header{
  font-size: 3vw;
  min-height: 3vh;
  margin-top: 3.981vw;
  margin-left: 2.604vw;
}
.owner-account-form{
  margin: 2.604vw;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#change-pass{
  padding: 10px 30px;
  background-color: #0013C0;
  color: white;
  border: none;
  width: 55%;
  &:hover {
    background-color: darken(#0013C0, 10%);
  }
}
#save{
  background-color: #0013C0;
  color: white;
  border: none;
  width: 20%;
  &:hover {
    background-color: darken(#0013C0, 10%);
  }
}
#reset{
  margin-left: 10%;
  width: 20%;
  border: none;
  background-color: gray;
  color: white;
  &:hover {
    background-color: darken(gray, 10%);
  }
}
input{
  height: 2.3vw;
  border-radius: 6px;
  margin-bottom: 19px;
  font-size: 1.7vw;
}
span{
  margin-bottom: 19px;
}
button{
  align-self: center;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 5px;
  margin-top: 1.5rem;
  transition: background-color 0.3s;
  padding-bottom: 10px;
  padding-top: 10px;
}


