.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  //gap: 1.5rem;
  min-height: 100vh;
  width: 100vw;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5564B2;
    color: #FFFFFF;
    width: 100%;
    min-height: 15vh;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 85vh;
    position: relative;


    .login-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 2vw;
      border: 1px solid #ddd;
      padding: 50px 40px 30px 40px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      min-width: 30vh;
      min-height: 30vh;
      position: relative;


      .tabs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 13rem;
        align-items: center;


        .tabs-left {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          span {

            &#id {
              color: #5564B2;
              font-size: 1.5vw;
            }

            &#sign-in {
              font-size: 2vw;
            }


          }


        }

        .tabs-right {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          align-self: flex-start;

          span {
            text-align: center;
            font-size: 1.5vw;
            cursor: pointer;

            &.disabled {
              color: #868686;
            }


          }
        }

      }


      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        input {
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 1vw;
        }

        button {
          align-self: center;
          padding: 10px 30px;
          background-color: #0013C0;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 55%;
          font-size: 1vw;
          margin-top: 1.5rem;

          &:hover {
            background-color: darken(#0013C0, 10%);
          }
        }
      }
    }
  }
}
