.warehouses-container{
  margin-left: 50px;
  display: block;
  font-family: "Bai Jamjuree";
  .label{
    margin-bottom: 23px;
  }
  .head-of-page{
    display: flex;
    .search-bar{
      display: flex;
      margin-bottom: 23px;
      #search-bar{
        width: 443px;
        height: 37px;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px black solid;
      }
      #search-bar-button{
        width: 37px;
        height: 37px;
        background: #5564B2;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    #add-warehouse{
      width: 176px;
      height: 37px;
      background: #5564B2;
      border-radius: 13px;
      border: 1px black solid;
      color: rgba(255, 255, 255, 0.89);
      font-size: 16px;
      font-family: "Bai Jamjuree";
      font-weight: 700;
      word-wrap: break-word;
      margin-left: 124px;
      float: left;
      display: flex;
      flex-direction: row;
      gap: 1vw;
      justify-content: center;
      align-items: center;
      #add-icon{
        width: 25px;
        height: 25px;
        background-color: transparent;
      }
    }
  }
  .warehouse-items-header{
    display: block;
    flex-direction: row;
    border-radius: 13px;
    background-color: #001BA7;
    width: 780px;
    height: 46px;
    padding: 10px;
    border: 2px solid #000000;
    .header-item{
      color: #FFFFFFE3;
      margin: 0px 13px 0px;
      margin-right: 85px;
      font-size: 20px;
    }
  }
  .warehouse-items{
    display: block;
    flex-direction: row;
    border-radius: 13px;
    margin-top: 11px;
    width: 780px;
    height: 46px;
    padding: 10px;
    background-color: #8498FFDE;
    border: 2px solid #000000;
    .item{
      color: #000000;
      margin: 0px 13px 0px;
      margin-right: 85px;
      font-size: 20px;
    }
  }
}
#label{
  display: flex;
  flex-direction: row;
  color: black;
  margin-top: 29px;
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
}

